.first{
  color: red;
}

.margin-top-space{
  margin-top: 15px;
}

.flex-container{
  margin-top: 100px;
  display: flex;
  flex-direction: row;

}
.boxa{
  width: 60%;
}

.tri.fa-caret-up{
  font-size: 2em;
}

.msgDiv{
  width: 100%;
  height: 40px;
}



.margin-right-space
{
  margin-right: 15px;
}



